<h1><%= t 'books.edit.Editing book' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("books.edit.Show this book"), @book %> |
  <%= link_to t("books.edit.Back to books"), books_path %>
</nav>
